spring:
# BANCO DE DADOS
  datasource:
    url: jdbc:mysql://us-cdbr-east-06.cleardb.net/heroku_a227050770a6656?reconnect=true
    username: b32418a40fbb7d
    password: 46a80a71
# E-MAIL
  mail:
    host: smtp.gmail.com
    username: lacodeamordf@gmail.com
    #password: Laco-de-amor2020
    password: fuxpykfclldpxzdb
    properties:
      mail:
        smtp:
          auth: true
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
            fallback: false
          starttls:
            enable: true
          ssl:
            enable: true
# LOG
logging:
  level:
    # root: debug
    com.frazao.lacodeamorrest: trace
    org.hibernate.SQL: off
    org.springframework.web: off
    org.springframework.security: off
    org.springframework.orm: off
    org.springframework.orm.jpa: off
    org.springframework.transaction: off
    org.springframework.transaction.interceptor: off
    org.springframework.jdbc: off
  
# VALORES PADRAO
default:
# BANCO DE DADOS
  database_schema: heroku_a227050770a6656
# E-MAIL
  sender: lacodeamordf@gmail.com
  recipient: lacodeamordf@gmail.com
